/* You can add global styles to this file, and also import other style files */
h1{
    font-variant: small-caps;
}
/* @font-face{
    font-family: Hustine;
    src:url('./assets/fonts/Hustine.ttf')
}
@font-face{
    font-family: BestonIT;
    src:url("./assets/fonts/Beston - Backup.ttf")
} */
body{
    background-color: rgba(0, 0, 0, 0.15);
    user-select: none;
}
h2{
    font-family:'Times New Roman', Times, serif;
    
 }

h1 {
  font-size: 3rem;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;

}
html, body { 
    height: 100%;
}
body {
     /* margin: 0; */
     overflow-x: hidden;
}
.green-snackbar {
  background-color: green
}
  
@media (max-width: 750px){
    .forBigScreen a,
    .forBigScreen span{display: none;}
}