<header >
    <div class="nav" >
        <div class="upperPart">
            <a href="#" style="font-size: x-large;" >LOGO</a>
            <ul>
                <li class="storeLocator" *ngIf="!isBrowserSizeSmall()" >
                    <a href="#">
                        <i>
                            Store Locator
                        </i>
                        </a>
                </li>
                <li >
                    <a href="#">🔍 <i *ngIf="isBrowserSizeSmall()">
                        Search
                    </i></a>
                </li>
                <li>
                    <a href="#">Hello,....</a>
                    <span>My Account</span>
                </li>
                <li>
                    <a style="font-size:5vh" href="#">🛒</a>
                </li>
            </ul>
        </div>
        <!-- ! ⬆️ -->
        <hr>
        <!-- ! ⬇️ -->
        <div class="downPart " [ngClass]="{'bg-common-gray':isBrowserSizeSmall()}">
            <div class="inSmallScreen">

                <button class="shopMenu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample">
                    <div style="height: 25px;width:25px">
                        <svg class="hamburger-icon" viewBox="0 0 24 24">
                            <path d="M4 6h16M4 12h16M4 18h16" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div>
                        <h3>Shop</h3>
                    </div>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header color-w bg-green">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Shop</h5>
                        <button type="button"  class="color-w" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
                    </div>
                    <div class="offcanvas-body fromShopMenu">
                        <ul>
                            <li>
                                <a href="#">Deals</a>
                            </li>
                            <li>
                                <a href="#">Stores</a>
                                <svg data-v-0bc244ea="" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5312 5.34375L10.2375 3.80625C10.125 3.675 9.91873 3.65625 9.76873 3.76875C9.63748 3.88125 9.61873 4.0875 9.73123 4.2375L10.95 5.68125H0.562476C0.374976 5.68125 0.224976 5.83125 0.224976 6.01875C0.224976 6.20625 0.374976 6.35625 0.562476 6.35625H10.95L9.73123 7.8C9.61873 7.93125 9.63748 8.1375 9.76873 8.26875C9.82498 8.325 9.89998 8.34375 9.97498 8.34375C10.0687 8.34375 10.1625 8.30625 10.2187 8.23125L11.5125 6.69375C11.85 6.28125 11.85 5.71875 11.5312 5.34375Z"
                                        fill="#2D2A24"></path>
                                </svg>
                            </li>
                            <li>
                                <a href="#">Planters</a>
                                <svg data-v-0bc244ea="" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5312 5.34375L10.2375 3.80625C10.125 3.675 9.91873 3.65625 9.76873 3.76875C9.63748 3.88125 9.61873 4.0875 9.73123 4.2375L10.95 5.68125H0.562476C0.374976 5.68125 0.224976 5.83125 0.224976 6.01875C0.224976 6.20625 0.374976 6.35625 0.562476 6.35625H10.95L9.73123 7.8C9.61873 7.93125 9.63748 8.1375 9.76873 8.26875C9.82498 8.325 9.89998 8.34375 9.97498 8.34375C10.0687 8.34375 10.1625 8.30625 10.2187 8.23125L11.5125 6.69375C11.85 6.28125 11.85 5.71875 11.5312 5.34375Z"
                                        fill="#2D2A24"></path>
                                </svg>
                            </li>
                            <li>
                                <a href="#">Plant Care</a>
                                
                                <svg data-v-0bc244ea="" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5312 5.34375L10.2375 3.80625C10.125 3.675 9.91873 3.65625 9.76873 3.76875C9.63748 3.88125 9.61873 4.0875 9.73123 4.2375L10.95 5.68125H0.562476C0.374976 5.68125 0.224976 5.83125 0.224976 6.01875C0.224976 6.20625 0.374976 6.35625 0.562476 6.35625H10.95L9.73123 7.8C9.61873 7.93125 9.63748 8.1375 9.76873 8.26875C9.82498 8.325 9.89998 8.34375 9.97498 8.34375C10.0687 8.34375 10.1625 8.30625 10.2187 8.23125L11.5125 6.69375C11.85 6.28125 11.85 5.71875 11.5312 5.34375Z"
                                        fill="#2D2A24"></path>
                                </svg>
                            </li>
                            <li>
                                <a href="#">Gift Ideas</a> 
                                <svg data-v-0bc244ea="" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5312 5.34375L10.2375 3.80625C10.125 3.675 9.91873 3.65625 9.76873 3.76875C9.63748 3.88125 9.61873 4.0875 9.73123 4.2375L10.95 5.68125H0.562476C0.374976 5.68125 0.224976 5.83125 0.224976 6.01875C0.224976 6.20625 0.374976 6.35625 0.562476 6.35625H10.95L9.73123 7.8C9.61873 7.93125 9.63748 8.1375 9.76873 8.26875C9.82498 8.325 9.89998 8.34375 9.97498 8.34375C10.0687 8.34375 10.1625 8.30625 10.2187 8.23125L11.5125 6.69375C11.85 6.28125 11.85 5.71875 11.5312 5.34375Z"
                                        fill="#2D2A24"></path>
                                </svg>
                            </li>
                            <li>
                                <a href="#">Home & Decor</a>
                                <svg data-v-0bc244ea="" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5312 5.34375L10.2375 3.80625C10.125 3.675 9.91873 3.65625 9.76873 3.76875C9.63748 3.88125 9.61873 4.0875 9.73123 4.2375L10.95 5.68125H0.562476C0.374976 5.68125 0.224976 5.83125 0.224976 6.01875C0.224976 6.20625 0.374976 6.35625 0.562476 6.35625H10.95L9.73123 7.8C9.61873 7.93125 9.63748 8.1375 9.76873 8.26875C9.82498 8.325 9.89998 8.34375 9.97498 8.34375C10.0687 8.34375 10.1625 8.30625 10.2187 8.23125L11.5125 6.69375C11.85 6.28125 11.85 5.71875 11.5312 5.34375Z"
                                        fill="#2D2A24"></path>
                                </svg>
                            </li>
                            <li>
                                <a href="#">Faux</a>
                                <svg data-v-0bc244ea="" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5312 5.34375L10.2375 3.80625C10.125 3.675 9.91873 3.65625 9.76873 3.76875C9.63748 3.88125 9.61873 4.0875 9.73123 4.2375L10.95 5.68125H0.562476C0.374976 5.68125 0.224976 5.83125 0.224976 6.01875C0.224976 6.20625 0.374976 6.35625 0.562476 6.35625H10.95L9.73123 7.8C9.61873 7.93125 9.63748 8.1375 9.76873 8.26875C9.82498 8.325 9.89998 8.34375 9.97498 8.34375C10.0687 8.34375 10.1625 8.30625 10.2187 8.23125L11.5125 6.69375C11.85 6.28125 11.85 5.71875 11.5312 5.34375Z"
                                        fill="#2D2A24"></path>
                                </svg>
                            </li>
                            <li>
                                <a href="#">Flowers & Bouquets</a>
                                <svg data-v-0bc244ea="" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.5312 5.34375L10.2375 3.80625C10.125 3.675 9.91873 3.65625 9.76873 3.76875C9.63748 3.88125 9.61873 4.0875 9.73123 4.2375L10.95 5.68125H0.562476C0.374976 5.68125 0.224976 5.83125 0.224976 6.01875C0.224976 6.20625 0.374976 6.35625 0.562476 6.35625H10.95L9.73123 7.8C9.61873 7.93125 9.63748 8.1375 9.76873 8.26875C9.82498 8.325 9.89998 8.34375 9.97498 8.34375C10.0687 8.34375 10.1625 8.30625 10.2187 8.23125L11.5125 6.69375C11.85 6.28125 11.85 5.71875 11.5312 5.34375Z"
                                        fill="#2D2A24"></path>
                                </svg>
                            </li>
                            <li>
                                <a href="#">Subscriptions</a>
                                
                            </li>
                            <li>
                                <a href="#">Workshops</a>
                               
                            </li>
                            
                        </ul>
                        <div class="d-flex justify-content-s-b  " style="width:100%;margin-top:2em;margin-bottom:2em">
                            <button class="btn bg-green" style="font-size: x-large;" >My Account</button>
                            <button class="btn btn-second" style="font-size: x-large;">Store Locator</button>
                        </div>
                    </div>
                </div>

                <!-- ! -->
               
                <button class="resourcesMenu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">🌱Resources</button>
                
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
                    </div>
                    <div class="offcanvas-body fromResourceMenu">
                        <!-- NOTE content -->
                    </div>
                </div>
            </div>
            
            <!-- NOTE ⬇️ -->
            <div class="inBigScreen">
                <ul>
                    <li><a href="#">Deals</a></li>
                    <li><a href="#">Stores</a></li>
                    <li><a href="#">Planters</a></li>
                    <li><a href="#">Plant Care</a></li>
                    <li><a href="#">Gift Ideas</a> </li>
                    <li><a href="#">Home & Decor</a></li>
                    <li><a href="#">Faux</a></li>
                    <li><a href="#">Flowers & Bouquets</a></li>
                    <li><a href="#">Subscriptions</a></li>
                    <li><a href="#">Workshops</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</header>