.wrapper{
  height: 100vh;
  overflow:hidden;
  perspective: 10px;
}
.card{
  border-radius: 5px;
  box-shadow: 1px 2px #1f1f1f;
}
header{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  z-index: -1;
  transform-style:preserve-3d;
}

.background{
  position: absolute;
  width:100%;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  pointer-events: none;
}

.plant{
  position: absolute;
  top:70%;
  left:85%;
  transform:  scale(2);  
  z-index: 2;
  pointer-events: none;
}
.plant1{
  position: absolute;
  top:75%;
  left:-5%;
  transform: scale(2);
  z-index: 2;
  pointer-events: none;
}
.newArrivals{
  background-color: #616161;
}
.title{
  font-size: 6rem;
  width: 90%;
  color:#ffffdd;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 0px #ffffdd4d;
  letter-spacing: 4px;
  text-transform: uppercase;
  /*  */
  transform:scale(3);
  animation: scale 2.5s forwards cubic-bezier(0.5,1,0.89,1);

}
@keyframes scale{
  100%{
    transform:scale(1);
  }
}
.title span{
  opacity: 0;
  filter: blur(5px);
}
.title span:nth-child(1){
  animation: fade-in 1.3s 0.1s forwards cubic-bezier(0.11,0,0.5,0);
}
.title span:nth-child(2){
  animation: fade-in 2s 0.2s forwards cubic-bezier(0.11,0,0.5,0);
}
.title span:nth-child(3){
  animation: fade-in 2.1s 0.3s forwards cubic-bezier(0.11,0,0.5,0);
}
@keyframes fade-in{
  100%{
    opacity: 1;
    filter: blur(0);
  }
}
/* adding title animaiton */
.card img{
  opacity: 50%;
  
  animation:fade  2s forwards ease 
}
@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width: 1030px){
  /*  */
  .title{
    font-size: 3rem;
  }
  .plant{
  position: absolute;
  top:70%;
  left:80%;  
  z-index: 2;
  pointer-events: none;
}
.plant1{
  position: absolute;
  top:70%;
  left:-20%;
  transform: scale(1.5);
  pointer-events: none;
}
}





