
    <div class="nav" >
        <div class="upperPart">
            <a class="logo" routerLink='/'>
                <div class="content">
                    <h2>Plantopia</h2>
                    <h2>Plantopia</h2>
                </div>
            </a>
            <ul class="forBigScreen">
                
                <!-- <li >
                    <a href="#" style="display: flex;flex-direction: row;align-items: center;">
                        <div style="display:flex;align-items:  center">
                            <div style="width:1.5em;height:1.5em;margin:3px">

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="11" cy="11" r="8" />
                                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                                </svg>
                            </div>
                        </div>
                     </a>
                </li> -->
               
                
                <li>
                    <a routerLink="page/about">About</a>
                </li>
                <li>
                    
                    <ul>
                        <li>
                            <a routerLink="**">Plant Guide</a>
                        </li>
                        <li>
                            <a routerLink="**">Home & Decor</a>
                        </li>
                    </ul>
                </li>
                <li class="greeting">
                    <a routerLink="/user/account">Hello,
                        <i *ngIf="this.authService.isAuth();else isNotAuth">{{name}}</i>
                        <ng-template #isNotAuth>
                            <i>SignIn</i>
                        </ng-template>
                    </a>
                
                </li>
                
            
                
               
            </ul>
            <button (click)="this.menuToggle.mobileToggler()" class="hamburger "
            [ngClass]="{'is-active':this.menuToggle.toggleMobileNav}">
                    <div class="bar"></div>
            </button>
            <div
             (click)="this.menuToggle.mobileToggler()"
             class="mobile-nav is-active"
             [ngClass]="{'is-active':this.menuToggle.toggleMobileNav}"
             >
                <ul>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLink="user/account">My Account</a>
                    </li>
                    <li>
                        <a routerLink="/plantCare">Plant Care</a>
                    </li>
                    <li>
                        <a routerLink="**">More</a>
                    </li>
                    <li>
                        <a routerLink="page/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
        
          
    </div> 
