
.nav{
    display: flex;
    font-size: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fffddc71;
}
.forBigScreen a{
    color: #1f1f1f;
    font-size: 1.5rem;
}
.forBigScreen a:hover{
    font-weight: 700;
    color: #a1c759;
}
.nav ul a{
    font-size: 1.2rem;
}

/* !upperPart */
.upperPart{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
    margin: 1rem 1rem;
    width:100%;
}
.upperPart ul{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.upperPart ul li{
    display: flex;
    flex-direction: column;
    margin: 0.5vw;
    margin-left:1vw;
    
}
.storeLocator{
    display: block;
}





.inSmallScreen{
    display: none; 
}
.greeting a{
    padding-left: 1rem;
    padding-right: 1rem;
    transform:translateX(10%)
}



.fromResourceMenu ul a div{
    display: flex;
    flex-direction: column;
}

.fromResourceMenu svg{
    opacity: 0.5;
}
svg{
    opacity: 0.5;
}
.hideOnSmall{
    display: block;
}

.hamburger{
    position:relative;
    display: block;
    width:35px;
    margin:1em 1em;
    cursor:pointer;
    
    appearance: none;
    background:none;
    outline:none;
    border:none;
    z-index: 3;
}
.hamburger .bar,.hamburger:after,.hamburger:before{
    content: '';
    display: block;
    width:100%;
    height:5px;
    background-color:#a1c759;
    margin: 6px 0;
    transition: 0.4s;
}
.hamburger.is-active:before{
    transform:rotate(45deg) translate(8px,8px);
}
.hamburger.is-active:after{
    transform:rotate(-45deg) translate(7px,-8px);
}

.hamburger.is-active .bar{
    opacity: 0;
} 

.hamburger{
    display: none;
}

.mobile-nav{
    position: fixed;
    top:0;
    left:100%;
    height: 100vh;
    width: 100%;
    text-transform: uppercase;
    background-color: #1f1f1fe9;
    z-index: 1;
    transition: 0.5s;
}
.mobile-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mobile-nav ul li a{
    font-size: 2.5rem;
    color: #ffffdd;
}
.mobile-nav ul li a:hover{
    color: #ffffdd75;

}
.mobile-nav.is-active{
    left:0;
}

@media (max-width:750px){
    .hideOnSmall{
        display: none;
    }
    .hamburger{
        display: block;
        
    }
    
    .inSmallScreen{
        display: flex;
        flex-direction: row;

        font-size: larger;

        width: 100%;
        height: 40px;
    }
    
    
    

    .inBigScreen{
        display: none;
    }
    /* span{
        font-size:x-small;
    } */
    
    
    .upperPart ul li{
        margin-right:1em;
    }
}
button{
    display: flex;
    align-items: center;
}


.logo{
    font-size:1.5rem;
    font-weight: bolder;
    font-variant: small-caps;
    cursor:pointer;

}
/* NOTE */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.content {
	position: relative;
}

.content h2 {
	color: #fffddc;
    font-size: 2em;
    
    left:2em;
    
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: #fffddc;
}

.content h2:nth-child(2) {
	color: #a1c759;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.cartBody{
    display: flex;
    flex-direction: column;
    
    width: 95%;
    height: 100vh;
}
.cartTitle {
    font-size: larger;
    width:100%;
    height: 65%;
}


.cartBody input{
    background-color: #2c542f8f;
    border-radius: 5em;
    width: 100%;
    height: 3em;
}